.Cal {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 5px;
}

.btn {
  padding: 0.5em;
  width: 60px;
  background-color: transparent;
  border: none;
}

.color {
  width: 18px;
  height: 18px;
  border-radius: 50%;
}

.mainRow {
  width: fit-content;
}

.otherThings {
  font-size: 0.9rem;
  color: var(--text-gray);
}

.editor {
}

.editorRow {
  width: fit-content;
}
