.Details {
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em;
}

.icon {
  font-size: 1rem !important;
}

.tools {
  position: relative;
  height: 100%;
  width: 100%;
}

.ulClassName {
  width: 25%;
  margin-left: 1em;
}
.optionUl {
  padding: 1em 0;
}

.description {
  padding-left: 1.5em;
  max-height: 200px;
  overflow: auto;
}

.title {
  width: 100%;
  padding-left: 1.5em;
  overflow: auto;
  max-height: 200px;
  font-size: 2rem;
}
