.Line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.vertical {
  position: absolute;
  width: 1px;
}

.hour {
  right: -20px;
  top: -10px;
  position: absolute;
  text-align: left;
  padding-left: 12px;
  height: 1px;
}
