.ContextMenu {
}

.delete {
  width: 100%;
  padding: 0.3em 2em;
  text-align: right;
  background-color: white;
}

.colorWrapper {
  padding: 0.3em;
}

.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
