.UpdateOrCreate {
  display: flex;

  height: 100vh;
}

.details {
  flex-grow: 1;
  padding: 1em;
}

.actions {
  flex-grow: 1;
  padding: 1em;
}

.inpWrapper {
  background-color: transparent !important;
}

.inpLabel {
  display: none;
}

.input {
  font-size: 2rem;
}

.faTimes {
  font-size: 2.5rem;
}

.close {
}

.dates {
  margin-top: 2em;
  display: flex;
  align-items: center;
}

.checkboxWrapper {
  margin-top: 1em;
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
}

.dateActions {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  width: 200px;
}
