:root {
  --dark: #353638;
  --gray: #f1efef;
  --light-gray: #f1f1f1;
  --light-green: #09d53d;
  --lighter-green: #0af545;
  --green: #009d25;
  --light-brown: #9f715d;
  --light-blue: #63b0b6;
  --white: #ececec;
  --warning: #fff3cd;
  --warning-text: #856404;
  --danger: #dc3545;
  --danger-text: #823239;
  --success: #d4edda;
  --success-text: #155724;
  --primary: #cce5ff;
  --primary-text: #185393;
  --secondary: #e2e3e5;
  --secondary-text: #3d42469c;
  --light-background: #f1f4f8;
  --dark-background: #202124;
  --indigo: #6610f2;
  --purple: #7c69ef;
  --text: #1b2a4e;
  --blue: #1a73e8;
  --dark-blue: #0d56b6;
  --light-blue: #f6f9fe;
  --box-shadow: #3331;
  --text-gray: #757a7f;
  --lighter-blue: #d2e3fc;
}

.text-warning {
  color: var(--warning);
}

.bg-warning {
  background-color: var(--warning-text);
}

.text-danger {
  color: var(--danger-text);
}

.bg-danger {
  color: var(--danger);
}

.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary-text);
}

.text-success {
  color: var(--success-text);
}

.bg-success {
  background-color: var(--success);
}

.text-secondary {
  color: var(--secondary-text);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-gray {
  color: var(--text-gray);
}

.bg-white {
  background-color: white;
}
