.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: auto;
}

.f-around {
  display: flex;
  justify-content: space-around !important;
  align-items: center;
}

.f-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.f-right {
  display: flex;
  justify-content: right;
  align-items: center;
}

.f-left {
  display: flex;
  justify-content: left;
  align-items: center;
}

.absolute-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.bg-danger {
  background-color: var(--danger);
}

.link {
  text-decoration: underline;
  color: var(--light-blue);
}

.owl-mtop {
  & > * + * {
    margin-top: 1em;
  }
}

.owl-mright {
  & > * + * {
    margin-right: 1em;
  }
}

.dark {
  background-color: var(--dark-background);
  color: white;
}

.light {
  background-color: var(--light-background);
}

.width-f-content {
  width: fit-content;
  display: block;
}
.height-f-content {
  height: fit-content;
  display: block;
}

.d-none {
  display: none;
}

.d-table {
  height: 100%;
  width: 100%;
}

#btn-next,
#btn-previous {
  font-family: "Vazir";
}

.m-auto {
  margin: auto;
}

.pointer {
  cursor: pointer;
}

.colBlue {
  color: var(--blue) !important;
}

.colWhite {
  color: white !important;
}

.bgBlue {
  background-color: var(--blue);
}

.p-relative {
  position: relative;
}

.bold {
  font-weight: bold;
}

.bg-gray {
  background-color: var(--gray);
}

.hoverBGGray {
  &:hover {
    background-color: var(--gray);
  }
}

.all-pointer {
  & * {
    cursor: pointer;
  }
}

.border-none {
  border: none !important;
}

.overflow-visible {
  overflow: visible;
}

.d-none {
  display: none;
}

.m-right2 {
  margin-right: 2em;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.p-relative {
  position: relative;
}
