@font-face {
  font-family: "Vazir";
  src: url("./vazir-font-v16.1.0/Vazir-Bold.woff") format("woff"),
    ("./vazir-font-v16.1.0/Vazir-Bold.ttf") format("ttf"),
    ("./vazir-font-v16.1.0/Vazir-Bold.woff2") format("woff2"),
    ("./vazir-font-v16.1.0/Vazir-Bold.eot") format("eot");
  font-weight: 700;
}

@font-face {
  font-family: "Vazir";
  src: url("./vazir-font-v16.1.0/Vazir-Light.woff") format("woff"),
    ("./vazir-font-v16.1.0/Vazir-Light.ttf") format("ttf"),
    ("./vazir-font-v16.1.0/Vazir-Light.woff2") format("woff2"),
    ("./vazir-font-v16.1.0/Vazir-Light.eot") format("eot");
  font-weight: 300;
}

@font-face {
  font-family: "Vazir";
  src: url("./vazir-font-v16.1.0/Vazir-Thin.woff") format("woff"),
    ("./vazir-font-v16.1.0/Vazir-Thin.ttf") format("ttf"),
    ("./vazir-font-v16.1.0/Vazir-Thin.woff2") format("woff2"),
    ("./vazir-font-v16.1.0/Vazir-Thin.eot") format("eot");
  font-weight: 100;
}

@font-face {
  font-family: "Vazir";
  src: url("./vazir-font-v16.1.0/Vazir-Medium.woff") format("woff"),
    ("./vazir-font-v16.1.0/Vazir-Medium.ttf") format("ttf"),
    ("./vazir-font-v16.1.0/Vazir-Medium.woff2") format("woff2"),
    ("./vazir-font-v16.1.0/Vazir-Medium.eot") format("eot");
  font-weight: 500;
}

@font-face {
  font-family: "Vazir";
  src: url("./vazir-font-v16.1.0/Vazir.woff") format("woff"),
    ("./vazir-font-v16.1.0/Vazir.ttf") format("ttf"),
    ("./vazir-font-v16.1.0/Vazir.woff2") format("woff2"),
    ("./vazir-font-v16.1.0/Vazir.eot") format("eot");
  font-weight: 400;
}
