@import "initialization.scss";
@import "colors.scss";
@import "custom.scss";
@import "fonts.scss";

html,
body,
input {
  padding: 0;
  margin: 0;
  font-family: "Vazir", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
