.AuthInp {
  position: relative;
  width: 100%;
}

.input {
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
  padding: 0.5em;
  width: 100%;

  &:focus {
    outline: none;
    border-color: var(--blue);
    & + .labelTop {
      color: var(--blue);
    }
  }
}

.label {
  position: absolute;
  padding: 0.2em;
  text-align: center;
  right: 1em;
  top: 0.4em;
  border-radius: 4px;
  transition: all linear 0.1s;
}
.labelTop {
  top: -1em;
  background-color: white;
  font-size: 0.9rem;
}

.errorBorder {
  border-color: var(--danger);
}

.errorColor {
  color: var(--danger);
}
