.Calendars {
}

.row {
  padding: 0.3em 1em;
  cursor: pointer;

  &:hover {
    background-color: var(--gray);
    & > .setting {
      visibility: visible;
    }
  }
}

.tag {
  font-size: 1.2rem;
  font-weight: 500;
}

.myCalenders {
  font-size: 1.1rem;
}

.setting {
  visibility: hidden;
}

.howColWhite {
  &:hover {
    color: white;
  }
}

.fade {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  background-color: #3333;
}
