.Calendars {
}

.row {
  padding: 0.3em 1em;
  cursor: pointer;

  &:hover {
    background-color: var(--gray);
    & > .setting {
      visibility: visible;
    }
  }
}

.tag {
  font-size: 1.2rem;
  font-weight: 500;
}

.myCalenders {
  font-size: 1.1rem;
}

.setting {
  visibility: hidden;
}
